@using ListPplJsAddButton.Models
@model IEnumerable<Person>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="container margin-top: 10">
            <a href="/home/showaddperson" class="btn btn-info">Add a Person</a>
        </div>
        <h3>People</h3>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            @foreach (Person p in Model)
            {
                <tr>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.Age</td>
                </tr>
            }
        </table>
    </div>
</div>